.arrangements {
    background: #FAF8F0;
}

.arrangements__line {
    background: #E08631;
    width: 56px;
    height: 8px;
    margin-left: 700px;
}

.arrangements__title {
    text-align: center;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #52503B;
}

.arrangements__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52503B;
    margin-top: 14px;
}

.arrangements__rooms-row {
    padding-bottom: 100px;
    ul {
        justify-content: space-between;
        display: flex;
        margin-top: 32px;
        li {
            justify-content: center;
        }
    }
}

.arrangements__rooms-row-bed {
    justify-content: center;
    .arrangements__rooms-row-bed-img {
        text-align: center;
    }
    .arrangements__rooms-row-bed-title {
        text-align: center;
        margin-top: 12px;
    }
    .arrangements__rooms-row-bed-subtitle {
        text-align: center;
        margin-top: 6px;
    }
}

.arrangements__rooms-row-bedroom {
    text-align: center;
    .arrangements__rooms-row-bedroom-img {
        text-align: center;
    }
    .arrangements__rooms-row-bedroom-title {
        text-align: center;
        margin-top: 12px;
    }
    .arrangements__rooms-row-bedroom-subtitle {
        text-align: center;
        margin-top: 6px;
    }
}

.arrangements__rooms-row-bathroom {
    text-align: center;
    .arrangements__rooms-row-bathroom-img {
        text-align: center;
    }
    .arrangements__rooms-row-bathroom-title {
        text-align: center;
        margin-top: 12px;
    }
    .arrangements__rooms-row-bathroomd-subtitle {
        text-align: center;
        margin-top: 6px;
    }
}