.nav {
    background: #52503B;
}

.nav__row {
    padding-bottom: 20px;
    padding-top: 8px;
    ul {
        justify-content: space-between;
        vertical-align: middle;
        display: flex;
    }
    .nav__text {
        margin-top: 12px;
        ul {
            li {
                margin-right: 24px;
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                }
            }
        }
    }
    .nav__btn {
        background: #FFFFFF;
        border-radius: 6px;
        padding: 11px 18px 11px 18px;
        margin-top: 1px;
        color: #52503B;
        a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #52503B;
            &:visited {
                color: #52503B;
            }
        }
    }
}